<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/tmpl}">
    <head>
        <title>Login Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h1>Búa til nýtt lykilorð</h1>


                <form action="#" th:action="@{/forgotPassword}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label class="contorl-label col-xs-2" for="email">Tölvupóstur</label>
                        <div class="col-xs-10" >
                            <input th:field="*{email}" type="email" name="email"></input>

                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block">Email error</span>
                        </div>
                    <input type="submit" class="btn btn-primary" value="Nýtt lykilorð"></input>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
