<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/tmpl}">
    <head>
        <title>Login Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h1>Endurheimta lykilorð</h1>
                <div class="alert alert-success" role="alert" >
                    Tölvupóstur var sentur. Vinsamlegast smelltu á hlekkin þar til að endurnýa lykilorð. 
                </div>
            </div>
        </div>
    </body>
</html>
