<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/tmpl}">
    <head>
        <title>Login Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h1>Búa til nýtt lykilorð</h1>


                <form action="#" th:action="@{/forgotPassword}" th:object="${user}" method="post">

                    <div class="form-group col col-4" >
                    <div class="form-group">
                        <label for="email">Tölvupóstur:</label>
                        <div class="row" >
                            <input th:field="*{email}" type="email" name="email"></input>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></span>
                        </div>
                        <div class="row">
                            <input type="submit" class="btn btn-primary" value="Nýtt lykilorð"></div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
