<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/tmpl}">

<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <h1>Búa til nýtt lykilorð</h1>
            <form th:action="@{/forgotPasswordRestoreSuccess}" action="#" method="POST" class="form-horizontal">
                <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Message</div>
                <input id="token" type="hidden" name="token" th:value="${token}" />
                <label class="control-label col-xs-2" for="password">Lykilorð</label>
                <div class="col-xs-10">
                    <input id="password" type="password" name="password" />
                </div>
                <label class="control-label col-xs-2" for="passwordConfirmation">Lykilorð staðfesting</label>
                <div class="col-xs-10">
                    <input id="passwordConfirmation" type="password" name="passwordConfirmation" />
                </div>
                <div class="form-actions col-xs-offset-2 col-xs-10">
                    <input type="submit" class="btn btn-primary" value="Staðfesta" />
                </div>
            </form>
        </div>
    </div>
</body>

</html>
