<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/tmpl}">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1>Innskráning</h1>
            <form th:action="@{/loginProcess}" method="POST" th:object="${user}" >
                <div class="form-group col col-4" >
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    </div>
                    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Message</div>
                    <div th:if="${error}" class="alert alert-danger">Rangt notendanafn eða lykilorð</div>
                    <div class="form-group">
                        <label for="email">Tölvupóstur:</label>
                        <div class="row">
                            <input id="email" type="text" class="form-control" name="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Lykilorð: </label>
                        <div class="row">
                            <input id="password" type="password" class="form-control" name="password" />
                        </div>
                    </div>
                    <div class="form-actions form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Innskráning" />
                    </div>
            </form>
                    <a class="btn btn-outline-primary btn-block" href="/register">Búa til aðgang</a>
                    <a class="btn btn-outline-primary btn-block" href="forgotPassword">Búa til nýtt lykilorð</a>
                </div>
        </div>
    </div>
</body>
</html>
