<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/tmpl}">
<head>
    <title>Lessons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <form action="#" th:action="@{/quiz/{id}/finish(id = ${courseId})}" method="POST" th:object="${quizResult}">
        <div th:each="question : ${questions}">
            <h2 th:text="${question.getQuestion()}"> Spurningin er</h2>
            <input type="hidden" th:field="*{questions[__${questions.indexOf(question)}__]}">
            <div th:each="answer : ${question.answers}">
                <input th:type="radio" th:field="*{answers[__${questions.indexOf(question)}__]}" th:id="*{answers}"
                       th:value="${answer.getId()}" th:text="${answer}" required="required">
            </div>
        </div>
        <input type="submit" class="btn btn-success float-left" value="Klára quiz">
    </form>
</div>
</body>
</html>
